<nav class="navbar">
  <div class="navbar-brand">
    <a href="/dashboard">ChatBuddy</a>
  </div>
  <ul class="navbar-menu">
    <li><a href="/chatbot">Chat</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
  </ul>
</nav>
